body {
    padding-top: 10px;
}

[class*="col-"],
footer {
    background-color: purple;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
    color: aliceblue;
}

.col-lg-offset-6 {
    margin-left: 50%;
}

#articleT4 {
    height: 150px;
}

#menu {
    height: 100px;
}